.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #333333;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 24px 32px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.basketBlock {
  display: flex;

}

.amountBasket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 4px 6px;
  margin-right: 8px;
  background: #FF5500;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}