.amountBtns {
  display: flex;
}

.amount {
  margin: 0 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #1B1F23;
}
.btnDecrease, .btnIncrease {
  outline: none;
}

.btnDecrease:hover rect, .btnIncrease:hover rect {
  fill: #E94E00;
}

.btnDecrease[data-disabled="true"] rect {
  fill: #FFA375;
} 

.btnIncrease[data-disabled="true"] rect {
  fill: #FFA375;
} 

