.filterPanel {
  position: sticky;
  top: 98px;
  left: 0;
  width: 408px;

  height: 400px;

  margin-right: 23px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
}

.subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #1B1F23;
}

.filterForm {
  display: flex;
  flex-direction: column;
}

.filterLabel {
  margin-bottom: 4px;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1B1F23;
}



.select {
  margin-bottom: 30px;
}


.filterInput {
  margin-bottom: 16px;
  padding: 10px 16px;
  border: 1px solid #E1E3E6;
  border-radius: 8px;
  outline: unset;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1B1F23;
}

.filterInput::placeholder {
  color: #999FA6;
}

.filterInput:focus-visible {
  border: 1px solid #FF5500;
}