.container {
  display: flex;
  /* justify-content: space-between; */
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  padding: 11px 32px 37px;
}

.filterPanel {
  position: sticky;
  left: 0;
  max-width: 408px;
  margin-right: 23px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
}

.subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #1B1F23;
}

.filterForm {
  display: flex;
  flex-direction: column;
}

.filterLabel {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1B1F23;
}

.filmList {
  width: 100%;
}

.filmCard {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
}

.imgFilm {
  margin-right: 24px;
}

.descr {
  flex-grow: 1;

}

.filmName {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #1B1F23;
}

.filmGenre {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1B1F23;
}

.amountBtns {
  display: flex;
  align-items: center;

}

.amount {
  margin: 0 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #1B1F23;
}

/* .itemBtn[data-disabled="true"] path {
  fill: #C4C4C4
} 
const [isDisable, setIsDisable] = React.useState('false');

React.useEffect(() => {
  amountTomatos <= 1 ? setIsDisable('true') : setIsDisable('false');
}, [amountTomatos]);
*/



