.modalBackgr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FFFFFF;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}


.title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #1B1F23;
}

.exit {
  width: 16px;
  height: 16px;
}

.text {
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1B1F23;
}

.btnGroup {
  display: flex;
  align-items: center;

}

.remove {
  align-items: center;
  padding: 8px 16px;
  margin-right: 8px;
  background-color: #FF5500;
  border-radius: 8px;
  padding: 10px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color 0.2s ease-in-out;
}

.remove:hover {
  background-color: #E94E00;
}

.cancel {
  border: 1px solid #FF5500;
  border-radius: 8px;
  padding: 10px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FF5500;
  transition: border-color 0.2s ease-in-out;
}


.cancel:hover {
  border-color: #E94E00;
}