*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-width: 320px;
  font-family: "Roboto", "SF Pro Text", sans-serif;
  font-weight: 400;
}

html,
body {
  max-width: 100vw;
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button:focus:not(:focus-visible) {
  outline: unset;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"),
    url("/react-homework/public/assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/react-homework/public/assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"),
    url("/react-homework/public/assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("/react-homework/public/assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Italic"),
    url("../../public/assets/fonts/Roboto-Italic.woff2") format("woff2"),
    url("../../public/assets/fonts/Roboto-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
    url("../../public/assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../public/assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: local("SFProDisplay-Medium"),
    url("../../public/assets/fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("../../public/assets/fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: local("SFProDisplay-Regular"),
    url("../../public/assets/fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../../public/assets/fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: local("SFProDisplay-RegularItalic"),
    url("../../public/assets/fonts/SFProDisplay-RegularItalic.woff2") format("woff2"),
    url("../../public/assets/fonts/SFProDisplay-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: local("SFProDisplay-Semibold"),
    url("../../public/assets/fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../../public/assets/fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}











