.filmCard {
  display: flex;
  align-items: flex-start;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 8px;
}

.btnGroup {
  display: flex;
  align-items: center;
}


.filmCard:not(:last-child) {
  margin-bottom: 16px;
}

.imgFilm {
  margin-right: 24px;
}
.img{
  border-radius: 8px;
  object-fit: cover;
}
.descr {
  flex-grow: 1;

}

.filmName {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #1B1F23;
}

.filmGenre {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1B1F23;
}

.btnDelete {
  margin-left: 24px;
}

